<meta http-equiv="Content-Security-Policy" content="default-src 'none'; font-src 'self'; img-src 'self' https://img.shields.io https://app.fossa.com https://www.bestpractices.dev/ https://readthedocs.org/ https://wakatime.com/; script-src 'sha384-926555d2459c8342f566c62d01744d20b4717f3ff059220a8eb16144f772a4a5539aca913fa439e0406a41a9e8b7ecec'; style-src 'self'">
<meta property="og:title" content="OZI Project Homepage"/>
<meta property="og:image" content="ozi_social_preview.png"/>
<meta property="og:description" content="Python Project Packaging for Meson"/>
<meta property="og:url" content="https://oziproject.dev/"/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="627" />
<meta property="og:type" content="website"/>
<link rel="shortcut icon" type="image/png" href="favicon_v2.png">
<script>
document.getElementsByClassName("hamb").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("side-menu").checked = !document.getElementById("side-menu").checked;
        }
});
</script>