---
---


$menu-icon-kern: .66em;
$menu-icon-margin: .2em;
$disclosure-font: "Noto Serif HK";
$preferred-font: "Atkinson Hyperlegible";

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible"),
    url("../brand/fonts/atkinsonhyperlegible/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  font-family: "Noto Serif HK";
  src: local("Noto Serif HK"),
    url("../brand/fonts/notoserifhk/NotoSerifHK[wght].ttf");
}

@font-face {
  font-family: "Martian Mono";
  src: local("Martian Mono"),
    url("../brand/fonts/martianmono/MartianMono[wdth,wght].ttf");
}

@mixin hover-shrink-3d() {
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin menu-icon($image, $size, $scale:1.0) {
  &:before {
    display: block;
    content: ' ';
    background-image: $image;
    background-repeat: no-repeat;
    background-size: $size * $scale;
    height: $size;
    width: $size;
    padding-right: $menu-icon-kern;
    margin-left: $menu-icon-margin;
  }
  
  &:hover:before {
    display: block;
    content: ' ';
    background-image: $image;
    background-repeat: no-repeat;
    background-size: $size * 0.982;
    height: $size * 0.982;
    width: $size * 0.982;
    padding-right: $menu-icon-kern;
    margin-left: $menu-icon-margin;
    @include hover-shrink-3d();
  }
}

ul.slides {
		padding-left: 0px;
}

ul.slides input {
    display:none
}

.carousel-controls label {
    display:none;
}

.wrapper > header:nth-child(1) > p:nth-child(3) {
  display: none;
}

ul {
  list-style: none;
}

.compare-table > ul {
  list-style: decimal;
  -moz-column-count: 2 !important;
  -webkit-column-count: 2 !important;
  column-count: 2 !important;
}

img {
  max-width: unset !important;
}

th, td {
  color: revert !important;
  text-align: start !important;
  border-bottom: 0px !important;
  max-width: min-content !important;
}

td {
  text-wrap: nowrap !important;
}

footer p small {
  display: none;
}

p > a:not([href*='oziproject.dev']):not([href^='#']):not([href^='/']):after {
  content: "";
}

small a:not([href*='oziproject.dev']):not([href^='#']):not([href^='/']):after {
  display: inline-block;
  content: ' ';
  background-image: url('../images/external-link-icon.svg');
  background-repeat: no-repeat;
  background-size: 8px 8px;
  height: 8px;
  width: 8px;
  margin-left: .2em;
  padding-bottom: .2em;
  filter: invert(1);
}

a {
  &[href*='https://pypi.org/project/OZI'] {
    @include menu-icon(url('../images/boxes-icon.svg'), 1.4em, 0.993);
  }

  &[href*='https://github.com/orgs/OZI-Project/discussions'] {
    @include menu-icon(url('../images/chat-message-icon.svg'), 1.4em);
  }

  &[href^='https://www.patreon.com/OZIProject'] {
   @include menu-icon(url('../images/online-secure-payment-icon.svg'), 1.4em);
  }

  &[href^='https://docs.oziproject.dev/'] {
    &:after {
      display: block;
      content: ' ';
      alt: 'Documentation';
      background-image: url('https://raw.githubusercontent.com/OZI-Project/OZIproject.dev/main/readthedocs-logo-wordmark-light.svg');
      background-repeat: no-repeat;
      background-size: 10em;
      height: 2em;
      width: 10em;
    }

    &:hover:after {
      display: block;
      content: ' ';
      alt: 'Documentation';
      background-image: url('https://raw.githubusercontent.com/OZI-Project/OZIproject.dev/main/readthedocs-logo-wordmark-light.svg');
      background-repeat: no-repeat;
      background-size: 9.9em;
      height: 2em;
      width: 10em;
      @include hover-shrink-3d();
    }
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  padding-bottom: 20px;
}

section p:not(:last-child) {
  margin-bottom: 0;
}

div.wrapper section p small:not(:last-child) {
  margin-bottom: 5px;
}

.gsc-reactions-count {
  text-align: left;
}

.dagger {
  font-family: $disclosure-font;
  font-size: 17px;
  font-weight: 900;
}

.dagger-note {
  font-family: $disclosure-font;
  display: inline-flex;
}

.dagger-disclose {
  font-family: $disclosure-font;
}

small {
  font-family: $disclosure-font;
  display: inline-block;
  line-height: 1.5;
}

.highlight {
  background-color: #0f1629 !important;
}

header > h1, h1 > a[href="https://www.oziproject.dev/"] {
  display: none;
}

div.wrapper header a img.icon-info {
  padding-top: 20px;
}

@media print, screen and (max-width: 1050px) {
  div.wrapper header a img.icon-info {
    position: absolute;
    right: 45.6vw;
    top: 26px;
  }
  div.wrapper section { 
    h1, h2 {
      text-align: left;
    }
  }
  div.wrapper footer {
    text-align: center;
  }
}

@media print, screen and (max-width: 720px), screen and (orientation: portrait) {
  div.wrapper header a img.icon-info {
    position: unset;
  }
}

ul.downloads {
  height: 4em !important;
}

.downloads {
  a {
    padding-top: 1em !important;
    height: 4em !important;
    font-size: .9em !important;
    
    &:hover {
      font-size: .8em !important;
      @include hover-shrink-3d();
    }

    strong {
      display: inline-block !important;
      color: #222;
    }
  }

  li {
    height: 4em !important;

    &:not(:last-child) a:before {
      display: inline-block;
      content: ' ';
      background-image: url('../images/download-install-line-icon.svg');
      background-repeat: no-repeat;
      background-size: 1.2em;
      height: 1.2em;
      width: 1.2em;
      padding-right: .1em;
    }

    &:last-child a strong:before {
      display: inline-block;
      content: ' ';
      background-image: url('../images/github-mark.svg');
      background-repeat: no-repeat;
      background-size: 1em 1em;
      height: 1em;
      width: 1em;
      padding-right: .1em;
    }
  }

  a {
    line-height: 1;
    font-size: 11px;
    color: black !important;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 34px;
    text-decoration: none !important;
  }
}

.wrapper a {
  color: #e1e7ef;
  text-decoration: underline;

  &:hover {
    color: #d0ffff;
    text-decoration: none;
  }
}

a {

  &:focus {
    color: #069;
    font-weight: normal !important;
    outline: thin dotted;
  }

  &[href^="/"] {
    color: #e1e7ef;

    &:hover, &:focus {
      color: #e1e7ef;
      text-decoration: underline;
      @include hover-shrink-3d();
    }
  }

  &[href^="https://docs.oziproject.dev/"] {
    color: #e1e7ef;

    &:hover {
      color: #e1e7ef;
      text-decoration: underline;
    }
  }
}

@media screen {
  p.view, header img[alt^="Logo"] {
    display: none;
  }
  
  section img[alt^="Logo"] {
    filter: invert(1);
  }
}

@media print {
  .nav {
    display: none;
  }
}

.nav {
  width: 100%;
  height: 100%;
  position: sticky;
  background-color: #030711;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-out;

  > ul.menu {
    list-style: none;
    position: inherit;
    display: grid;
    font-size: .875rem;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    line-height: 1.25rem;
    overflow: hidden;
  }
}

div.wrapper header div.mobile nav.nav ul.menu {
  padding-left: 0px;
  margin-bottom: 0px;
}

.menu a {
  height: 2.5rem;
  max-height: 5em;
  width: 260px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: #e1e7ef;
  text-decoration: none;
  font-size: 1.225em;
  border-bottom: 0;
  font-weight: 1000 !important;

  &:hover {
    overflow: visible;
    font-size: 1.2em;
    background-color: rgba(85, 85, 85, 1);
    @include hover-shrink-3d();
  }
}

.hamb {
  cursor: pointer;
  float: inline-start;
  padding: 39px 10px;
  margin: .2rem;
}

/* Style label tag */

.hamb-line {
  background: #e1e7ef;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

  &::before, &::after {
    background: #e1e7ef;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  &::before {
    top: 5px;
  }

  &::after {
    top: -5px;
  }
}

/* Style span tag */

.side-menu {
  display: none;

  &:checked ~ {
    nav {
      max-height: 100%;
    }

    .hamb .hamb-line {
      background: transparent;

      &::before {
        transform: rotate(-45deg);
        top: 0;
      }

      &::after {
        transform: rotate(45deg);
        top: 0;
      }
    }
  }
}

/* Hide checkbox */

.mobile {
  display: flow-root list-item;
  list-style: none;
  max-height: 11rem;

  h1 {
    float: left;
    padding: 9px 0 0 0;
  }

  a img {
    float: left;
    filter: invert(1);
    padding: 28px 10px;
  }

  small {
    display: inline;
    float: right;
  }
}

@media print, screen and (min-width: 1050px) {
  body {
    div.wrapper section ul {
      -moz-column-count: 3;
      -moz-column-gap: 20px;
      -webkit-column-count: 3;
      -webkit-column-gap: 20px;
      column-count: 3;
      column-gap: 20px;
    }

    > .wrapper {
      width: 60rem;
    }
  }
	.package-info p {
	  text-align: center;
	  text-wrap: nowrap;
	}
	.carousel {
	    margin-left: 0;
	    margin-right: 0;
	}
	
	ul.slides {
	    display: block;
	    position: relative;
	    height: 600px;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    list-style: none;
	}
	
	.slides * {
	    user-select: none;
	    -ms-user-select: none;
	    -moz-user-select: none;
	    -khtml-user-select: none;
	    -webkit-user-select: none;
	    -webkit-touch-callout: none;
	}
	
	ul.slides input {
	    display: none; 
	}
	
	
	.slide-container { 
	    display: block; 
	}
	
	.slide-image {
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    opacity: 0;
	    transition: all .7s ease-in-out;
	}
	
	.carousel-controls {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 999;
	    font-size: 100px;
	    line-height: 950px;
	    color: #fff;
	}
	
	.carousel-controls label {
	    display: none;
	    position: absolute;
	    padding: 0 20px;
	    opacity: 0;
	    transition: opacity .2s;
	    cursor: pointer;
	}
	
	.slide-image:hover + .carousel-controls label{
	    opacity: 0.5;
	}
	
	.carousel-controls label:hover {
	    opacity: 1;
	}
	
	.carousel-controls .prev-slide {
	    width: 49%;
	    text-align: left;
	    left: 0;
	}
	
	.carousel-controls .next-slide {
	    width: 49%;
	    text-align: right;
	    right: 0;
	}
	
	.carousel-dots {
	    position: absolute;
	    left: 18em;
            right: 18em;
	    bottom: 100px;
	    z-index: 999;
	    text-align: center;
	}
	
	.carousel-dots .carousel-dot {
	    display: inline-block;
	    width: 30px;
	    height: 30px;
	    border-radius: 50%;
	    background-color: #fff;
	    opacity: 0.5;
	    margin: 10px;
	}
	
	input:checked + .slide-container .slide-image {
	    opacity: 1;
	    transform: scale(1);
	    transition: opacity 1s ease-in-out;
	}
	
	input:checked + .slide-container .carousel-controls label {
	     display: block; 
	}
	
	input#img-1:checked ~ .carousel-dots label#img-dot-1,
	input#img-2:checked ~ .carousel-dots label#img-dot-2,
	input#img-3:checked ~ .carousel-dots label#img-dot-3,
	input#img-4:checked ~ .carousel-dots label#img-dot-4,
	input#img-5:checked ~ .carousel-dots label#img-dot-5,
	input#img-6:checked ~ .carousel-dots label#img-dot-6 {
		opacity: 1;
	}
	
	
	input:checked + .slide-container .nav label { display: block; }

  .mobile {
    max-height: unset;
  }
  
  footer {
    bottom: 23px !important;
    p {
      margin-bottom: 0px !important;
    }
  }
  
  .wrapper section h1 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }

  .wrapper section h2 {
    text-align: left;
    margin-top: 14px;
  }
  
  .wrapper section {
    width: 40rem;
    padding-bottom: 0px !important;
  }

  .mobile {
    small {
      display: none;
    }
    h1, a img {
      display: block;
    }
  }

  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }

  .menu {
    li {
      float: left;
    }

    a {
      display: flex;
      align-items: center;
      padding: 5px;
      color: #e1e7ef;
      text-decoration: none;
      font-size: 1.225em;
      border-bottom: 0;

      &:visited {
        background-color: rgba(85, 85, 85, 1);
      }

      &:hover {
        overflow: visible;
        font-size: 1.2em;
        background-color: rgba(85, 85, 85, 1);
        @include hover-shrink-3d();
      }
    }
  }

  .hamb {
    display: none;
  }

  header {
    img[alt~="Logo"] {
      display: none;
      filter: invert(0.8) !important;
    }

    > h1 {
      display: block;
    }
  }

  h1 a[href="https://www.oziproject.dev/"] {
    display: none;
    color: #e1e7ef !important;
    text-decoration: none;

    &:hover {
      color: #e1e7ef;
      text-decoration: underline;
      @include hover-shrink-3d();
    }
  }

  p {
  
    width: clamp(45ch, 75ch, 93ch);

    a > img[alt="Button"] {
      border-radius: 1px;
      box-shadow: 0px 0px 0px 0.4em rgba(85, 85, 85, 1);
      padding: 0 0 !important;
      margin: .4em .4em 0 !important;
      background-color: rgba(85, 85, 85, 1);
    }

    &:hover {
      a > img[alt="Button"] {
        box-shadow: 0px 0px 0px 0.5em rgba(82, 82, 82, 1);
        transition: .1s linear;
      }

      &::after a > img[alt="Button"] {
        box-shadow: 0px 0px 0px 0.4em rgba(82, 82, 82, 1);
        transition: .4s linear;
        transform-origin: bottom;
      }
    }
  }
}

/* begin site.theme */
.highlight {
  table {
    td {
      padding: 5px;
    }

    pre {
      margin: 0;
    }
  }

  .cm {
    color: #999988;
    font-style: italic;
  }

  .cp {
    color: #999999;
    font-weight: bold;
  }

  .c1 {
    color: #999988;
    font-style: italic;
  }

  .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
  }

  .c, .cd {
    color: #999988;
    font-style: italic;
  }

  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  .gd {
    color: #000000;
    background-color: #ffdddd;
  }

  .ge {
    color: #000000;
    font-style: italic;
  }

  .gr {
    color: #aa0000;
  }

  .gh {
    color: #999999;
  }

  .gi {
    color: #000000;
    background-color: #ddffdd;
  }

  .go {
    color: #888888;
  }

  .gp {
    color: #555555;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #aaaaaa;
  }

  .gt {
    color: #aa0000;
  }

  .kc, .kd, .kn, .kp, .kr {
    color: #000000;
    font-weight: bold;
  }

  .kt {
    color: #445588;
    font-weight: bold;
  }

  .k, .kv {
    color: #000000;
    font-weight: bold;
  }

  .mf, .mh, .il, .mi, .mo, .m, .mb, .mx {
    color: #009999;
  }

  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx {
    color: #d14;
  }

  .sr {
    color: #009926;
  }

  .s1 {
    color: #d14;
  }

  .ss {
    color: #990073;
  }

  .s {
    color: #d14;
  }

  .na {
    color: #008080;
  }

  .bp {
    color: #999999;
  }

  .nb {
    color: #0086B3;
  }

  .nc {
    color: #445588;
    font-weight: bold;
  }

  .no {
    color: #008080;
  }

  .nd {
    color: #3c5d5d;
    font-weight: bold;
  }

  .ni {
    color: #800080;
  }

  .ne, .nf, .nl {
    color: #990000;
    font-weight: bold;
  }

  .nn {
    color: #555555;
  }

  .nt {
    color: #000080;
  }

  .vc, .vg, .vi, .nv {
    color: #008080;
  }

  .ow, .o {
    color: #000000;
    font-weight: bold;
  }

  .w {
    color: #bbbbbb;
  }

  background-color: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 10px;
  font: 14px/1.15 $preferred-font, sans-serif;
  color: #727272;
  font-weight: 500;
  background-color: #030711;
  color: #d0ffff;
  caret-color: transparent;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
  color: #e1e7ef;
}

h2 {
  color: #e1e7ef;
  margin-top: 20px;
  font-size: 25px;
}

h3, h4, h5, h6 {
  color: #e1e7ef;
}

a {
  color: #267CB9;
  text-decoration: none;

  small {
    font-size: 10px;
    color: #777;
    margin-top: -0.3em;
    display: block;
  }

  &:hover small {
    color: #777;
  }
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code {
  font-family: "Martian Mono", monospace;
  color: #d0ffff;
  background-color: #0f1629;
  border-radius: .25rem;
}

pre {
  font-family: "Martian Mono", monospace;
  padding: 8px 15px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
  color: #d0ffff;
  background-color: #0f1629;
  border-radius: .25rem;
  background: #0f1629;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

ul.downloads {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 270px;
}

.downloads {
  li {
    width: 89px;
    float: left;
    border-right: 1px solid #e0e0e0;
    height: 40px;

    &:first-child a {
      border-radius: 5px 0 0 5px;
    }

    &:last-child a {
      border-radius: 0 5px 5px 0;
    }
  }

  a {
    line-height: 1;
    font-size: 11px;
    color: #676767;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 34px;
  }

  ul a:active {
    background-color: #f0f0f0;
  }
}

strong {
  color: #222;
  font-weight: 700;
}

.downloads {
  li + li + li {
    border-right: none;
    width: 89px;
  }

  a strong {
    font-size: 14px;
    display: block;
    color: #222;
  }
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

small {
  font-size: 10px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 1050px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  p {
    width: clamp(45ch, 75ch, 93ch)
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
    display: initial;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header {
    a small {
      display: inline;
    }

    ul {
      position: absolute;
      right: 50px;
      top: 52px;
    }
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  p {
    width: clamp(45ch, 50%, 75ch);
  }

  header {
    padding: 0;

    ul, p.view {
      position: static;
    }
  }

  pre, code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px), (orientation: portrait) {
  body {
    padding: 15px;
  }

  p {
    width: auto;
  }

  .downloads {
    width: 99%;

    li {
      width: 33%;

      + li + li {
        width: 33%;
      }
    }
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}

