---
---

body {
  background-color:#030711 !important;
}
h1 {
  color:#e1e7ef !important;
}
h2 {
  color:#e1e7ef !important;
}
h3 {
  color:#e1e7ef !important;
}
h4 {
  color:#e1e7ef !important;
}
@import "{{ site.theme }}";

