---
---

$menu-icon-kern: .66em;
$menu-icon-margin: .2em;
$disclosure-font: "Noto Serif HK";
$preferred-font: "Atkinson Hyperlegible";

p > a:not([href*='oziproject.dev']):not([href^='#']):not([href^='/']):after {
  content: "";
}

small a:not([href*='oziproject.dev']):not([href^='#']):not([href^='/']):after {
  display: inline-block;
  content: ' ';
  background-image: url('../images/external-link-icon.svg');
  background-repeat: no-repeat;
  background-size: 8px 8px;
  height: 8px;
  width: 8px;
  margin-left: .2em;
  padding-bottom: .2em;
  filter: invert(1);
}

a {
  &[href*='https://pypi.org/project/OZI'] {
    &:before {
      display: block;
      content: ' ';
      background-image: url('../images/boxes-icon.svg');
      background-repeat: no-repeat;
      background-size: 1.39em 1.39em;
      height: 1.4em;
      width: 1.4em;
      padding-right: $menu-icon-kern;
      margin-left: $menu-icon-margin;
    }

    &:hover:before {
      display: block;
      content: ' ';
      background-image: url('../images/boxes-icon.svg');
      background-repeat: no-repeat;
      background-size: 1.375em;
      height: 1.375em;
      width: 1.375em;
      padding-right: $menu-icon-kern;
      margin-left: $menu-icon-margin;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &[href*='https://github.com/orgs/OZI-Project/discussions'] {
    &:before {
      display: block;
      content: ' ';
      background-image: url('../images/chat-message-icon.svg');
      background-repeat: no-repeat;
      background-size: 1.4em;
      height: 1.4em;
      width: 1.4em;
      padding-right: $menu-icon-kern;
      margin-left: $menu-icon-margin;
    }

    &:hover:before {
      display: block;
      content: ' ';
      background-image: url('../images/chat-message-icon.svg');
      background-repeat: no-repeat;
      background-size: 1.375em;
      height: 1.375em;
      width: 1.375em;
      padding-right: $menu-icon-kern;
      margin-left: $menu-icon-margin;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &[href^='https://www.patreon.com/OZIProject'] {
    &:before {
      display: block;
      content: ' ';
      background-image: url('../images/online-secure-payment-icon.svg');
      background-repeat: no-repeat;
      background-size: 1.4em;
      height: 1.4em;
      width: 1.4em;
      padding-right: $menu-icon-kern;
      margin-left: $menu-icon-margin;
    }

    &:hover:before {
      display: block;
      content: ' ';
      background-image: url('../images/online-secure-payment-icon.svg');
      background-repeat: no-repeat;
      background-size: 1.375em;
      height: 1.375em;
      width: 1.375em;
      padding-right: $menu-icon-kern;
      margin-left: $menu-icon-margin;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &[href^='https://docs.oziproject.dev/'] {
    &:after {
      display: block;
      content: ' ';
      alt: 'Documentation';
      background-image: url('https://raw.githubusercontent.com/OZI-Project/OZIproject.dev/main/readthedocs-logo-wordmark-light.svg');
      background-repeat: no-repeat;
      background-size: 10em;
      height: 2em;
      width: 10em;
    }

    &:hover:after {
      display: block;
      content: ' ';
      alt: 'Documentation';
      background-image: url('https://raw.githubusercontent.com/OZI-Project/OZIproject.dev/main/readthedocs-logo-wordmark-light.svg');
      background-repeat: no-repeat;
      background-size: 9.9em;
      height: 2em;
      width: 10em;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  padding-bottom: 20px;
}

body {
  font: 14px/1.15 $preferred-font, "Helvetica Neue", Arial, sans-serif !important;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #030711 !important;
  caret-color: transparent;
  color: #d0ffff !important;
  padding: 10px !important;
}

section p:not(:last-child) {
  margin-bottom: 0;
}

div.wrapper section p small:not(:last-child) {
  margin-bottom: 5px;
}

.dagger {
  font-family: $disclosure-font;
  font-size: 17px;
  font-weight: 900;
}

.dagger-note {
  font-family: $disclosure-font;
  display: inline-flex;
}

.dagger-disclose {
  font-family: $disclosure-font;
}

small {
  font-family: $disclosure-font;
  display: inline-block;
}

code {
  color: #d0ffff !important;
  background-color: #0f1629;
  border-radius: .25rem;
}

pre {
  color: #d0ffff !important;
  background-color: #0f1629;
  border-radius: .25rem;
  background: #0f1629 !important;
  border-radius: .25rem !important;
}

.highlight {
  background-color: #0f1629 !important;
}

h1 {
  color: #e1e7ef !important;
}

header > h1, h1 > a[href="https://www.oziproject.dev/"] {
  display: none;
}

h2 {
  color: #e1e7ef !important;
  margin-top: 20px !important;
  font-size: 25px !important;
}

h3, h4 {
  color: #e1e7ef !important;
}

ul.downloads {
  height: 4em !important;
}

.downloads {
  a {
    padding-top: 1em !important;
    height: 4em !important;
    font-size: .9em !important;
    
    &:hover {
      font-size: .8em !important;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    strong {
      display: inline-block !important;
      color: #222;
    }
  }

  li {
    height: 4em !important;

    &:not(:last-child) a:before {
      display: inline-block;
      content: ' ';
      background-image: url('../images/download-install-line-icon.svg');
      background-repeat: no-repeat;
      background-size: 1.2em;
      height: 1.2em;
      width: 1.2em;
      padding-right: .1em;
    }

    &:last-child a strong:before {
      display: inline-block;
      content: ' ';
      background-image: url('../images/github-mark.svg');
      background-repeat: no-repeat;
      background-size: 1em 1em;
      height: 1em;
      width: 1em;
      padding-right: .1em;
    }
  }

  a {
    line-height: 1;
    font-size: 11px;
    color: black !important;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 34px;
    text-decoration: none !important;
  }
}

.wrapper a {
  color: #e1e7ef;
  text-decoration: underline;

  &:hover {
    color: #d0ffff;
    text-decoration: none;
  }
}

a {
  &:hover {
    color: #069;
    font-weight: normal !important;
  }

  &:focus {
    color: #069;
    font-weight: normal !important;
    outline: thin dotted;
  }

  &[href^="/"] {
    color: #e1e7ef;

    &:hover, &:focus {
      color: #e1e7ef;
      text-decoration: underline;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &[href^="https://docs.oziproject.dev/"] {
    color: #e1e7ef;

    &:hover {
      color: #e1e7ef;
      text-decoration: underline;
    }
  }
}

p.view, header img[alt^="Logo"] {
  display: none;
}

section img[alt^="Logo"] {
  filter: invert(0.8);
}

.nav {
  width: 100%;
  height: 100%;
  position: sticky;
  background-color: #030711;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-out;

  > ul.menu {
    list-style: none;
    position: inherit;
    display: grid;
    font-size: .875rem;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    line-height: 1.25rem;
    overflow: hidden;
  }
}

div.wrapper header div.mobile nav.nav ul.menu {
  padding-left: 10px;
  margin-bottom: 0px;
}

.menu a {
  height: 2.5rem;
  max-height: 5em;
  width: 260px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: #e1e7ef;
  text-decoration: none;
  font-size: 1.225em;
  border-bottom: 0;
  font-weight: 1000 !important;

  &:hover {
    overflow: visible;
    font-size: 1.2em;
    background-color: rgba(85, 85, 85, 1);
    transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hamb {
  cursor: pointer;
  float: inline-start;
  padding: 39px 10px;
  margin: .2rem;
}

/* Style label tag */

.hamb-line {
  background: #e1e7ef;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

  &::before, &::after {
    background: #e1e7ef;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  &::before {
    top: 5px;
  }

  &::after {
    top: -5px;
  }
}

/* Style span tag */

.side-menu {
  display: none;

  &:checked ~ {
    nav {
      max-height: 100%;
    }

    .hamb .hamb-line {
      background: transparent;

      &::before {
        transform: rotate(-45deg);
        top: 0;
      }

      &::after {
        transform: rotate(45deg);
        top: 0;
      }
    }
  }
}

/* Hide checkbox */

.mobile {
  display: flow-root list-item;
  list-style: none;

  h1 {
    float: left;
    padding: 26px 0 0 0;
  }

  a img {
    float: left;
    filter: invert(0.8);
    padding: 28px 20px;
  }

  small {
    display: inline;
    float: right;
  }
}

@media (min-width: 1050px) {
  body {
    div.wrapper section ul {
      -moz-column-count: 4;
      -moz-column-gap: 20px;
      -webkit-column-count: 4;
      -webkit-column-gap: 20px;
      column-count: 4;
      column-gap: 20px;
    }

    > .wrapper {
      width: 60rem;
    }
  }

  .wrapper section {
    width: 40rem;
    padding-bottom: 30px !important;
  }

  .mobile {
    small {
      display: none;
    }
    h1, a img {
      display: block;
    }
  }

  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }

  .menu {
    li {
      float: left;
    }

    a {
      display: flex;
      align-items: center;
      padding: 5px;
      color: #e1e7ef;
      text-decoration: none;
      font-size: 1.225em;
      border-bottom: 0;

      &:visited {
        background-color: rgba(85, 85, 85, 1);
      }

      &:hover {
        overflow: visible;
        font-size: 1.2em;
        background-color: rgba(85, 85, 85, 1);
        transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  .hamb {
    display: none;
  }

  header {
    img[alt~="Logo"] {
      display: none;
      filter: invert(0.8) !important;
    }

    > h1 {
      display: block;
    }
  }

  h1 a[href="https://www.oziproject.dev/"] {
    display: none;
    color: #e1e7ef !important;
    text-decoration: none;

    &:hover {
      color: #e1e7ef;
      text-decoration: underline;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      transition-duration: .3s;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  p {
    a > img[alt="Button"] {
      border-radius: 1px;
      box-shadow: 0px 0px 0px 0.4em rgba(85, 85, 85, 1);
      padding: 0 0 !important;
      margin: .4em .4em 0 !important;
      background-color: rgba(85, 85, 85, 1);
    }

    &:hover {
      a > img[alt="Button"] {
        box-shadow: 0px 0px 0px 0.5em rgba(82, 82, 82, 1);
        transition: .1s linear;
      }

      &::after a > img[alt="Button"] {
        box-shadow: 0px 0px 0px 0.4em rgba(82, 82, 82, 1);
        transition: .4s linear;
        transform-origin: bottom;
      }
    }
  }
}

@import "{{ site.theme }}";
